.table-img {
    vertical-align: middle  !important;
    & > span > img{
        max-height: 100px;
        width: 100%;
        object-fit: cover;
    }
}
.table-title{
    font-size: 1rem;
}

.table-content{
    font-size: 0.8rem;
}

.table-items{
    text-align: center;
    font-size: 1rem;
    vertical-align: middle  !important;

    &.icons{

    }

    i{
        font-size: .75rem;
        width: 12px;
    }

}
