.post-card {
  padding: 5px 20px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.post-card:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.post-card .post-title {
  font-size: 24px;
  font-weight: 500;
  color: black;
  letter-spacing: 0.05em;
}

.post-card .post-title:hover {
  text-decoration: none;
}

.post-card .post-category {
  font-size: 14px;
}

.post-card .post-authordate {
  font-size: 13px;
  color: #AAAAAA;
}

.post-card .post-authordate a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-card .post-authordate a:hover {
  color: gray;
}

.post-card .cat-btn {
  background-color: #333333;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 5px 14px;
  text-decoration: none;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.post-card .cat-btn:hover {
  background-color: #7a7a7a;
  text-decoration: none;
}

.post-card .cat-btn:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}

.post-card .post-content {
  font-size: 14px;
}

.post-card .post-wrap {
  text-decoration: none;
  color: inherit;
}

.post-card .post-wrap:hover {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.post-card .post-bottom {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  margin-right: 0;
}

.post-card .post-bottom a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.post-card .post-bottom a:hover {
  color: black;
}

.side-card {
  padding: 15px 0px;
  margin-bottom: 5px;
}

.side-card .list-item {
  padding: 5px 15px;
  border-bottom: 1px solid #e7e7e7;
}

.side-card .list-item::before {
  font-family: FontAwesome;
  content: "\f105";
  padding-right: 10px;
  font-size: 15px;
}

.side-card .list-item a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.side-card .list-item a:hover {
  color: #3498db;
}

.recent {
  padding-top: 10px;
}

.section-head {
  font-size: 0.8em;
  letter-spacing: 0.08em;
  font-weight: 100;
  color: #FFFFFF;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.section-head.c1 span {
  padding: 5px 15px;
  background-color: #f1c40f;
}

.section-head.c1 + div {
  height: 3px;
  margin: 0px;
  border-bottom: 4px solid #f1c40f;
}

.section-head.c2 span {
  padding: 5px 15px;
  background-color: #e67e22;
}

.section-head.c2 + div {
  height: 3px;
  margin: 0px;
  border-bottom: 4px solid #e67e22;
}

.section-head.c3 span {
  padding: 5px 15px;
  background-color: #e74c3c;
}

.section-head.c3 + div {
  height: 3px;
  margin: 0px;
  border-bottom: 4px solid #e74c3c;
}

.section-head.c4 span {
  padding: 5px 15px;
  background-color: #9b59b6;
}

.section-head.c4 + div {
  height: 3px;
  margin: 0px;
  border-bottom: 4px solid #9b59b6;
}

.section-head.c5 span {
  padding: 5px 15px;
  background-color: #3498db;
}

.section-head.c5 + div {
  height: 3px;
  margin: 0px;
  border-bottom: 4px solid #3498db;
}

.section-head.c6 span {
  padding: 5px 15px;
  background-color: #2ecc71;
}

.section-head.c6 + div {
  height: 3px;
  margin: 0px;
  border-bottom: 4px solid #2ecc71;
}

.navlink {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navlink:hover {
  color: #3498db;
}

.navlink a {
  color: inherit;
  text-decoration: none;
}

.agile__actions {
  margin-top: 20px;
}

.agile__nav-button {
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 24px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.agile__nav-button:hover {
  color: #888;
}

.agile__dot {
  margin: 0 10px;
}

.agile__dot button {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  width: 10px;
}

.agile__dot--current button, .agile__dot:hover button {
  background-color: #888;
}

.slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide h3 {
  font-size: 32px;
  font-weight: 300;
}

.slide--1 {
  background-color: #f1c40f;
}

.slide--2 {
  background-color: #e67e22;
}

.slide--3 {
  background-color: #e74c3c;
}

.slide--4 {
  background-color: #9b59b6;
}

.slide--5 {
  background-color: #3498db;
}

.slide--6 {
  background-color: #2ecc71;
}
/*# sourceMappingURL=styles.css.map */